<head>
        <script src="https://kit.fontawesome.com/4a3b1f73a2.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <!-- FONT -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet">
    
    </head>
    <body>
        <style>
            em {
        color: rgb(255, 150, 30);
    }
        </style>
    
        <header>
            <section>
                <!-- MAIN CONTAINER -->
                <div id="container">
                    <!-- SHOP NAME -->
                    <div id="shopName"><a href="index.jsp" style="font-family: 'Caveat', cursive;"> <b>My<em>Meal</em></b> </a></div>
                        <!-- COLLCETIONS ON WEBSITE -->
                        <div id="collection">
                        
                        </div>
                        <!-- SEARCH SECTION -->
                        <div id="search">
                            <i class="fas fa-search search"></i>
                            <input type="text" id="input" name="searchBox" placeholder="Search for Food">
                        </div>
                        <!-- USER SECTION (CART AND USER ICON) -->
                        <div id="user">
                            <a href="cart.jsp"> <i class="fas fa-shopping-cart addedToCart"><div id="badge"> 0 </div></i></a>
                            <a href="#"> <i class="fas fa-user-circle userIcon"></i> </a>
                        </div>
                </div>
    
            </section>
        </header>
    