  <div style="color: white;">
    <br>
  <div  class="container">
  <div class="row">
    <div class="col-4 col-md">
      <h2 style="color: white;" id="about">My<em>Meal</em></h2>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Cool stuff</a></li>
        <li><a class="text-muted" href="#">Random feature</a></li>
        <li><a class="text-muted" href="#">Team feature</a></li>
        <li><a class="text-muted" href="#">Stuff for developers</a></li>
        <li><a class="text-muted" href="#">Another one</a></li>
        <li><a class="text-muted" href="#">Last time</a></li>
      </ul>
    </div>
    <div class="col-4 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Resource</a></li>
        <li><a class="text-muted" href="#">Resource name</a></li>
        <li><a class="text-muted" href="#">Another resource</a></li>
        <li><a class="text-muted" href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-4 col-md">
      <h5>Follow Us</h5>
      <ul class="list-unstyled text-small">
        <li><a href="http://www.facebook.com" target="_blank"><img src="../../assets/img/footer/Group 141.png" alt=""></a>
          <a href="https://twitter.com" target="_blank"><img src="../../assets/img/footer/Group 140.png" alt=""></a>
          <a href="http://www.instagram.com" target="_blank"><img src="../../assets/img/footer/Group 139.png" alt=""></a></li>

      </ul>
    </div>
  </div>
</div>
</div>