<div class="container">
<div class="row">
    <div class="col-12">
    <img style="position: absolute;" width="1080" class="img-fluid" src="assets/img/index/Path orange.png" alt="">
    <img style="position: absolute;" width="1080" class="img-fluid" src="assets/img/index/fruit background.png" alt="">
    <table style="position: absolute; color: white; font-size: 2vw; border-collapse: separate; border-spacing: 8vw 2vw;">
    <tr>
        <td>Ariana</td>
        <td>Bizerte	</td>
        <td>Béja</td>
        <td>Ben Arous</td>
        <td>Djerba</td>
    </tr>
    <tr>
        <td>Gabès</td>
        <td>Gafsa</td>
        <td>Jendouba</td>
        <td>Kairouan</td>
        <td>Kef</td>
    </tr>
    <tr>
        <td>Kébili</td>
        <td>Manouba</td>
        <td>Mahdia</td>
        <td>Monastir</td>
        <td>Médenine</td>
    </tr>
    <tr>
        <td>Nabeul</td>
        <td>Sfax</td>
        <td>Sidi Bouzid</td>
        <td>Siliana</td>
        <td>Sousse</td>
    </tr>
    <tr>
        <td>Tataouine</td>
        <td>Tozeur</td>
        <td>Tunis</td>
        <td>Zaghouan</td>
        <td>Ben Arous</td>
    </tr>
    </table>
</div>
<div class="row"><br></div>
<div class="row"><br></div>
<div class="row"><br></div>
<div class="row"><br></div>
<div class="row"><br></div>
<div class="row"><br></div>
<div class="row"><br></div>
<div class="row"><br></div>
<div class="row"><br></div>
<div class="row"><br></div>
<div class="row"><br></div>
<div class="row"><br></div>
<div class="row"><br></div>
<div class="row"><br></div>
<div class="row"><br></div>

<div class="row">
    <div class="col-12">
        <img class="img-fluid" src="assets/img/index/background2.png" width="1080" alt="">
    </div>
</div>
</div>
