<img style="position: absolute;" width="100%" class="img-fluid" src="assets/img/index/Path orange.png" alt="">
    <img style="position: absolute;" width="100%" class="img-fluid" src="assets/img/index/fruit background.png" alt="">
<div class="container">
<div class="row">
    <div class="col-12">
    <table style="position: absolute; color: white; font-size: 2vw; border-collapse: separate; border-spacing: 8vw 2vw;">
    <tr>
        <td>Ariana</td>
        <td>Bizerte	</td>
        <td>Béja</td>
        <td>Ben Arous</td>
        <td>Djerba</td>
    </tr>
    <tr>
        <td>Gabès</td>
        <td>Gafsa</td>
        <td>Jendouba</td>
        <td>Kairouan</td>
        <td>Kef</td>
    </tr>
    <tr>
        <td>Kébili</td>
        <td>Manouba</td>
        <td>Mahdia</td>
        <td>Monastir</td>
        <td>Médenine</td>
    </tr>
    <tr>
        <td>Nabeul</td>
        <td>Sfax</td>
        <td>Sidi Bouzid</td>
        <td>Siliana</td>
        <td>Sousse</td>
    </tr>
    <tr>
        <td>Tataouine</td>
        <td>Tozeur</td>
        <td>Tunis</td>
        <td>Zaghouan</td>
        <td>Ben Arous</td>
    </tr>
    </table>
    
</div>
<div class="row"><br></div>
<div class="row"><br></div>
<div class="row"><br></div>
<div class="row"><br></div>
<div class="row"><br></div>
<div class="row"><br></div>
<div class="row"><br></div>
<div class="row"><br></div>
<div class="row"><br></div>
<div class="row"><br></div>
<div class="row"><br></div>
<div class="row"><br></div>
<div class="row"><br></div>
<div class="row"><br></div>
<div class="row"><br></div>


</div>
<div>
    <img class="img-fluid" src="assets/img/index/background2.png" width="100%" alt="">

<div class="card-deck mb-3 text-center">

    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Longest Word</h4>
      </div>





      <!-- i have three cards below, each one has a button and an input field -->


      <div class="card-body d-flex flex-column">
        <!-- <h5 class="card-title" style="font-size: 200%">Longest Word</h5> -->
        <p class="card-text" style="font-size: 100%">a Function to find and display the longest word in a phrase, namely the first longest word in case multiple equal size words are present </p>

        <input type="text" name="1Input" class="mt-auto" id="cell1Input">
        <input type="button" class="btn btn-primary" name="1Button" value="Click Me!" id="cell1Button" />
        <br>
        <span id="1FunctionResult"></span>
      </div>
    </div>
</div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
