<!--
    <header>
    <section>
<div id="container">
    <div id="shopName">
        <a href="index.jsp" style="font-family: 'Caveat', cursive;"> <b>My<em>Meal</em></b> </a>
    </div>
    <div id="collection">

    </div>
    <div id="search">
        <i class="fas fa-search search"></i>
        <input type="text" id="input" name="searchBox" placeholder="Search for Food">
    </div>
    <div id="user">
        <a href="cart.jsp"> <i class="fas fa-shopping-cart addedToCart"><div id="badge"> 0 </div></i></a>
        <a href="#"> <i class="fas fa-user-circle userIcon"></i> </a>
    </div>
</div>

</section>
</header>
<br><br><br><br>
<div class="container">
    <a routerLink="/add-plate" routerLinkActive="active">AddPlate</a><br>
    <a routerLink="/order-placed" routerLinkActive="active">orderPlaced</a><br>
    <a routerLink="/meals" routerLinkActive="active">meals</a><br>
    <a routerLink="/commande" routerLinkActive="active">commande</a><br>
</div>-->





<router-outlet></router-outlet>