<form action="">
<div class="text-center">
  
  <br>
  <br>
      <h4 class="font-weight-normal" style="color:white;" id="contact">Contact US</h4>
</div>
    <div class="col-4 offset-4">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label" style="color: white;">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="reclam" class="form-label" style="color:white;">We want to hear from you</label>
        <textarea class="form-control" id="reclam" rows="3"></textarea>
      </div>
      <button type="button" class="btn btn-primary">Send</button>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

</div>
</form>