<div class="parent img-fluid mt-0">
    <img class="img1 img-fluid" src="assets/img/index/Mask Group 1.jpg">
    <img class="img2 img-fluid" src="assets/img/index/Path 1.png">
    <img class="rec img-fluid" src="assets/img/index/Rectangle 1.png" >
    <div class="header parent">
    <a href="#" class="button">OUR-FOOD</a>
    <a href="#" class="button">CONTACT-US</a>
    <a href="#" class="button">ABOUT</a>
    </div>
    <div class="user parent">
    <a href="#">LOGIN |</a>
    <a href="#">SIGNUP</a>
    </div>
   
    </div>

    <img class="down img-fluid" src="assets/img/index/down.svg">
    
<div class="noc">
    <h3 class="titre">My-<em>Meal</em></h3>
        <br>
        <br>
        <p></p>
            <p class="description">Have no time to prepare <em>food</em>?</p>
            <p class="des">
                Choose one of our plans, enter delivery time
                <br>
                and enjoy delicious food without leaving your home!
            </p>     
</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>