<div class="parent img-fluid mt-0">
    <img class="img1 img-fluid" src="assets/img/index/Mask Group 1.jpg">
    <img class="img2 img-fluid" src="assets/img/index/Path 1.png">
    <img class="rec img-fluid" style="top: 8px;" src="assets/img/index/Rectangle 1.png">
    <div style="word-spacing: 1em;" class="header parent">
        <a href="/home#inarush" class="button">OUR-FOOD</a>
        <a href="/home#contact" class="button"> CONTACT-US</a>
        <a href="/home#about" class="button"> ABOUT</a>
    </div>
    <div class="user parent">
        <a routerLink="/login" routerLinkActive="active">LOGIN |</a>
        <a  routerLink="/signup" routerLinkActive="active">SIGNUP</a>
    </div>

</div>



<div class="noc">
    <h3 class="titre">My-<em>Meal</em></h3>
    <br>
    <br>
    <p></p>
    <p class="description">Have no time to prepare <em>food</em>?</p>
    <p class="des">
        Choose one of our plans, enter delivery time
        <br>
        and enjoy delicious food without leaving your home!
    </p>


</div>

<img class="down img-fluid" src="assets/img/index/down.svg">