
  <br>
  <div class="container">
    <div class="row">
      <div class="col"> 
  <h2>Check Out</h2>
  <br>
  <div class="col-4">
    <label for="inputPassword2" class="visually-hidden">lastName</label>
    <input type="text" class="form-control" id="nom" placeholder="lastName">
  </div>
  <br>
  <div class="col-4">
    <label for="inputPassword2" class="visually-hidden">FirstName</label>
    <input type="text" class="form-control" id="prenom" placeholder="FirstName">
  </div>
  <br>
  <div class="col-4">
    <label for="inputPassword2" class="visually-hidden">Adress</label>
    <input type="text" class="form-control" id="address" placeholder="Adress">
  </div>
  <br>
  <div class="col-4">
    <label for="inputPassword2" class="visually-hidden">Zip code</label>
    <input type="text" class="form-control" id="code" placeholder="Zip code">
  </div>
  <br>
 
  <h5>Payment Method</h5>
  <br>
  <input type="radio" id="edinar" name="Payment" value="edinar">
  <label><img src="../../assets/edinar.jpg" width="100" height="60">
  </label>
  <br>
  
  <input type="radio" id="cod" name="Payment" value="cod">
  <label><p>Cash On Delivery</p></label>
  <hr>
  </div>
  </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col"> 
        <h5>Items</h5>
        <br>
        <img src="assets/img8.png"width="120" height="100">
        <br>
        <h6 id="i1">Pizza MyMeal</h6>
  </div>
  <div class="col"> 
    <h5 id="i2">g</h5>
    <br>
    <img src="assets/img8.png"width="120" height="100">
    <br>
    <h6 id="i1">Pizza MyMeal</h6>
  </div>
  <div class="col"> 
    <h5 id="i2">g</h5>
    <br>
    <img src="assets/img8.png"width="120" height="100">
    <br>
    <h6 id="i1">Pizza MyMeal</h6>
    
  </div>
  <div class="col"> 
    <br>
    <br>
    <br>
    <br>
    <br>
    <button type="button" class="btn btn-success" (click)=register()>Place Order</button>
    <br>
    <br>
    <br>
  </div>
  
  </div>
  
  </div>
        