<header>
</header>
<div class="container ">
    <div class="row pt-5">
        <div class="col-12 text-center">
            <img src="../../assets/delivred/delivery.png">
        </div>
    </div>
    <div class="row pt-5">
        <div class="text-center col-12 ">
            <h1><em>1 5<sup> m </sup>: 2 0<sup> s</sup></em></h1>
        </div>
    </div>
    <div class="row text-secondary text-center">
        <h2>Order Placed!</h2>
        <h4>Your order was placed successfully. For more details <a href="" class="text-secondary">Check All My Order </a>page under Profile tab.</h4>
    </div>
</div>
<div class="row pt-5">
    <div class="col-12 text-center">
        <a routerLink="/add-plate" routerLinkActive="active"> <!-- houni t'hot restaurant teaak-->
            <button type="button" class="btn btn-danger">MY ORDER  </button>
        </a>
    </div>
</div>