<section class="navbar">
    <!-- MAIN CONTAINER -->
    <div id="container">
      <!-- SHOP NAME -->
      <div id="shopName"><a href="#" style="font-family: 'Caveat', cursive;"> <b>My<em>Meal</em></b> </a></div>
      <!-- COLLCETIONS ON WEBSITE -->
      <div id="collection">

      </div>
      <!-- SEARCH SECTION -->
      <div id="search">

        <input type="text" id="input" name="searchBox" placeholder="Search for Food">
        <i class="fas fa-search search"></i>
      </div>
      <!-- USER SECTION (CART AND USER ICON) -->
      <div id="user">
        <a href="#"> <i class="fas fa-shopping-cart addedToCart">
            <div id="badge"> 0 </div>
          </i></a>

        <a href="#"> <i class="fas fa-user-circle userIcon"></i> </a>

      </div>

    </div>


  </section>
