<div class="bg">
<div  class="container">
    <br>
    <br>
    <br>
    <div class="col-12" style="text-align: center;">
        <h2 style="color: white;">My Meal</h2>
    </div>
    <form>
        <div class="col-4 offset-4">
            <label for="exampleInputEmail1 " style="color: white;" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  placeholder=" Email" required >
            <div id="emailHelp" style="color: white;" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="col-4 offset-4">
            <label for="exampleInputPassword1" style="color: white;" class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="Password" required id="exampleInputPassword1">
        </div>
        <div class="col-4 form-check offset-4">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" style="color: white;" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="offset-4 btn btn-primary">Submit</button>
    </form>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>