div{ 
    background: url(/assets/img/login/bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: #1b1b1b;
    text-shadow: 0 2px 1px #1b1b1b,
    -1px 1px 1px #1b1b1b, 
    -1px 1px 1px #1b1b1b;
  }
  